body.light-mode {
  transition: background-color 0.3s ease;
}

body.dark-mode {
  $dark-background: #1d1d1d;
  $dark-border: #000;
  $dark-text: #fff;
  $neutral-text: #d8d4cf;
  $selection-text: #e8e6e3;
  $green: #0ac183;
  transition: background-color 0.3s ease;

  background-color: $dark-background;
  color: #fff;

  // SIDEBAR
  .sidebar {
    background-color: $dark-background;
    border: 1px solid rgb(0, 0, 0);
  }

  button {
    background-color: $green;

    border: none;
  }

  // NAVBAR
  .navbar {
    background-color: hsl(233, 48%, 33%);
  }

  .settings-icon {
    color: $selection-text;

    &:hover {
      color: white;
      cursor: pointer;
    }

    &:active {
      color: #0ac18e;
    }
  }

  //MENU ITEM LIST
  .menu-item {
    &:hover {
      border-color: white;
      color: white;
    }

    &:active {
      background-color: #0ac18e;
    }
  }
  .menu-item-icon {
    color: $selection-text;
  }
  .menu-item-title {
    color: $selection-text;
  }

  .active {
    background-color: $green;
  }

  // WALLET

  .add-wallet {
    border: 1px solid rgb(0, 0, 0);

    background-color: $dark-background;
  }

  .send {
    border: 1px solid #b8b8b8;
    background-color: $dark-background;
  }
  .receive {
    border: 1px solid #b8b8b8;
    background-color: $dark-background;
  }

  .balance {
    border: 1px solid #b8b8b8;
    background-color: $dark-background;
  }

  .wallet {
    background-color: $dark-background;
  }

  //COIN
  .coin {
    background-color: $dark-background;
    border: 1px solid #b8b8b8;
  }

  //COIN TABLE
  .coins-table {
    border: 1px solid #b8b8b8;

    background-color: $dark-background;
  }

  tr {
    border: 1px solid rgb(0, 0, 0);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .star {
    color: rgb(202, 202, 202);

    &:hover {
      color: orange;
    }
  }

  // SETTINGS

  .settings {
    background-color: $dark-background;
    border: 1px solid #b8b8b8;
  }
}
