.coins-table {
  tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
  }
  tr:first-child td:last-child {
    border-bottom-right-radius: 0px;
  }
  border-collapse: separate !important;
  table-layout: auto;
  text-align: center;
  background-color: white;
  border: 1px solid #b8b8b8;
  margin: auto;
  width: 95%;

  border-radius: 5px;
  border-spacing: 0 !important;
  padding-top: 1em;
  #coin-name {
    text-align: left;
    display: flex;
  }
}

#logo-name {
  display: flex;
  text-align: left;
  align-items: center;
  padding-top: 0.8em;
  justify-content: space-evenly;
  .coin-logo {
    height: 25px;
    width: 25px;
    margin-left: 3em;
    text-align: right;
  }
}
p {
  text-align: left;
}

tr {
  border-bottom: 1px solid #b8b8b8;

  &:hover {
    background-color: #f0f0f0;
  }

  .coins-header {
    &:hover {
      cursor: pointer;
    }
  }
}

.star {
  color: rgb(202, 202, 202);
  height: 20px;
  width: 20px;

  &:hover {
    color: orange;
  }
}

.arrow {
  margin-left: 1em;
}

.top-section {
  margin: auto;
  margin-top: 5em;
  margin-bottom: 1em;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-search {
  width: 20em;
  background-color: transparent;
}

.denom {
  height: 25px;
}

.page-arrow {
  padding: 0.3em;
  font-size: 1.3em;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.arrow-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-section {
  margin: 0.5em auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
