.coins-table {
  table-layout: auto;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid #b8b8b8;
  margin-top: 5%;
}

#logo-name {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.5em 0;
  justify-content: space-evenly;
  .coin-logo {
    height: 25px;
    width: 25px;
    margin-left: 3em;
    text-align: right;
  }
}
p {
  text-align: center;
}

tr {
  border-bottom: 1px solid #b8b8b8;

  &:hover {
    background-color: #f0f0f0;
  }
}

.star {
  color: rgb(202, 202, 202);
  height: 20px;
  width: 20px;

  &:hover {
    color: orange;
  }
}

table {
  border-collapse: collapse;
}
