.coin {
  border: 1px solid #b8b8b8;
  background-color: white;
  text-align: center;
  padding: 2em;
  margin-top: 5%;
  margin: 2em;
  box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);
  border-radius: 5px;
  #coin-name {
    text-align: left;
    display: flex;
  }
}

.graph-container {
  position: center;
  width: 75vw;
  height: 30vh;
}

.coin-description {
  line-height: 1.7;
}

.star-coin {
  width: 30px;
  height: 30px;
  margin-left: 0.25em;
  &:hover {
    cursor: pointer;
  }
}
