.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;

  &:hover {
    color: white;
  }
}

.active {
  background-color: #7ed957;
  color: white;

  p {
    color: white;
  }

  .menu-item-icon {
    color: white;
  }
}

.menu-item-icon {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 1.25em;
  height: 50px;
  margin-right: 0.5em;
  color: rgb(148, 148, 148);
}
.menu-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  color: #787777;
}
