button {
  background-color: #7ed957;
  padding: 1em;
  border: 1px solid rgb(196, 196, 196);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
}

.body {
  margin-left: 16%;
}
