.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 6vh;
  align-items: center;
  background-color: #5664d2;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.logo {
  height: 60px;
  width: 60px;
}

.settings-icon {
  color: #b8b8b8;
  font-size: 2.5em;

  &:hover {
    color: white;
    cursor: pointer;
  }

  &:active {
    color: #7ed957;
  }
}

.settings-button {
  background-color: transparent;
  border: none;
}
