.settings {
  border: 1px solid #b8b8b8;
  text-align: center;
  padding: 2em;
  height: 76vh;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 1em;
}

.wallet-line {
  margin-top: 1%;
}

button {
  margin-top: 1%;

}

.eye {
  margin-left: .5%;
}