

.sidebar {
  height: 100%; 
  width: 15%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(255, 255, 255); 
  overflow-x: hidden; 
  padding-top: 20px;
  border: 1px solid #B8B8B8;
}

body {
  background-color: #F0F1EF;
  padding: 10px;
}