.sidebar {
  background-color: rgb(255, 255, 255);
  border: 1px solid #b8b8b8;
  position: sticky;
  top: 75px;
  bottom: 0;
  z-index: 1;
  width: 15%;
  position: fixed;
}

body {
  background-color: #f0f1ef;
}

.theme-toggle {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 5%;
  left: 39%;
}
