.watchlist {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid #b8b8b8;
  margin-top: 5%;
  height: 91vh;
}

.arrow {
  margin-left: 1em;
}

.top-section {
  margin: auto;
  margin-top: 5em;
  margin-bottom: 1em;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-search {
  width: 20em;
  background-color: transparent;
}

.denom {
  height: 25px;
}

.page-arrow {
  padding: 0.3em;
  font-size: 1.3em;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.arrow-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-section {
  margin: 0.5em auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
