.wallet {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  justify-content: flex-end;
}

.add-wallet {
  border: 1px solid #b8b8b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 2em;
  height: 25vh;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);
  border-radius: 5px;

  &:hover {
    box-shadow: 10px 10px 5px rgba($color: #000, $alpha: 0.3);
  }
}

.send {
  display: flex;
  flex-direction: column;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
  background-color: white;
  margin-left: 1em;
  box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
}
.receive {
  display: flex;
  flex-direction: column;
  border: 1px solid #b8b8b8;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
}

.balance {
  border: 1px solid #b8b8b8;
  text-align: center;
  padding: 2em;
  min-height: 35vh;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1em;
  box-shadow: 3px 3px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);
}

.transfer {
  display: flex;
  height: 43vh;
}

.status-image {
  animation: rotation 1s infinite linear;
  width: 50px;
  margin: 1.31em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin: auto;
}

.tokens-popup {
  position: fixed;
  background-color: transparent;
  width: 80%;
  margin: auto;
  z-index: 2;

  ul {
    width: 50%;
    margin: auto;
  }
}

.tokens-box {
  position: fixed;
  height: 80vh;
  width: 70%;
  left: 15%;
  right: 0;
  margin: auto;
  z-index: 1;
  background-color: rgba($color: rgb(218, 217, 217), $alpha: 0.7);
  border-radius: 5px;
  border: 1px solid #777777;
  backdrop-filter: blur(6px);
  top: 13vh;
  padding-right: 1em;
}

.close {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  z-index: 3;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
